* {
    font-family: 'Segoe UI', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #939185;
}

/*Navigation Styling*/




/*main {*/
    /*margin-left: 160px; /* Same as the width of the sidenav */
/*}*/

@media screen and (max-height: 450px) 
{
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*The cards*/

a{
    color:deepskyblue;
    transition: 2s linear;
}

a:hover{
    color: white;
    transition: 0.5s linear
}

article, footer {
    background-color: black;
    border: 1px black solid;
    background-image: url("images/tile.png");
    background-repeat: repeat;
    padding: 32px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: black 0px 0px 12px;
    transition: 2s linear;
}

article:hover {
    background-color: #111;
    border: 1px #444 solid;
    transition: 0.5s linear;
}

strong {
    color: white;
    text-shadow: 0px 0px 3px deepskyblue;
}


body {
    background-color: #151618;
    background: rgb(58,164,149);
    background: radial-gradient(circle, rgba(58,164,149,1) 0%, rgba(2,111,176,1) 26%, rgba(47,67,108,1) 58%, rgba(21,22,24,1) 100%);
}

h1 {
    color: white;
    font-size: 4em;
    
    text-shadow: 2px 2px black;
}

h2 {
    color: white;
    /*font-family: 'STIX Two Math', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    text-shadow: 2px 2px black;
}

h3{
    color: gold;
    font-size: 1.5em;
}

nav {
    position: fixed;
    top: 0;
}


td {
    background-color: #222;
    text-align: center;
}

th{
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    padding: 4px;
}

th{
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(47,67,108,1);
}

/*DISCLAIMER*/
.alert {
    background-color: #e02853; /*red*/
}

.center {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.brighten{
    background-color: rgba(255,255,255,0.1);
    border-radius: 6px;
    padding: 10px;
}

.add{
    width: 110%;
}

.indent {
    background-color: darkorange;
    border: white 0.5px solid;
    border-radius: 4px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-size: 0.5em;
    padding: 4px;
}

.imghero{
    width: 125%;
}

.nava:hover{
    background-color: white;
    transition: 0.5s linear;
}

.str {
    border: solid red 3px;
}

.agi {
    border: solid green 3px;
}

.int {
    border: solid deepskyblue 1px;
    box-shadow: deepskyblue 0px 0px 8px;
}

td, th, tr {
    padding: 10px;
}